:8000

log

{$CADDY_EXTRA_CONFIG}

route {
	@default {
		not path /theme/* /media/* /thumbnail/* /bundles/* /sitemap/*
	}
	root * /var/www/html/public
	php_fastcgi @default unix//tmp/php-fpm.sock {
		trusted_proxies private_ranges
		request_buffers 4k
		response_buffers 4k
	}
	encode gzip zstd
	file_server

	{$CADDY_SERVER_EXTRA_DIRECTIVES}
}
