:8000

log 

{$CADDY_EXTRA_CONFIG}

route {
	root * /var/www/html/public
	encode gzip zstd

	@theme path /theme/*
	@default {
		not path /theme/* /media/* /thumbnail/* /bundles/*
	}

	php_fastcgi @default unix//tmp/php-fpm.sock {
		trusted_proxies private_ranges
	}
	handle @theme {
		@theme_file file
		handle @theme_file {
			file_server
		}
		respond 410
	}
	file_server {
		hide *.php
	}

	{$CADDY_SERVER_EXTRA_DIRECTIVES}
}
