{
	skip_install_trust 

	{$CADDY_GLOBAL_OPTIONS} 
	{$CADDY_EXTRA_CONFIG}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

:8000 {
	encode gzip zstd
	php_server {
		root /var/www/html
		resolve_root_symlink false
	}

	{$CADDY_SERVER_EXTRA_DIRECTIVES}
}
