{
	skip_install_trust 

	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

:8000 {
	root * /var/www/html/public
	encode zstd gzip

	log

	@theme path /theme/*
	@phpRoute {
		not path /theme/* /media/* /thumbnail/* /bundles/*
		not file {path}
	}

	rewrite @phpRoute index.php

	@frontController path index.php
	php @frontController

	handle @theme {
		@theme_file file
		handle @theme_file {
			file_server
		}
		respond 410
	}
	file_server {
		hide *.php
	}
}
